extends layout
                                
block content
  section.game
    .controller.left
    .main
      .field-holder
        canvas#field
      .score-holder
        canvas#score
      .controller-holder
        .direction
          .direction-holder
            .left
              button#btn-left &larr;
            .upanddown
              button#btn-up &uarr;
              button#btn-down &darr;
            .right
              button#btn-right &rarr;
        .button
          a.ui-component(href="/game") Reset
          button.ui-component#btn-a A
    .controller.right
  section.information
    .container
      h1 #{displayName} でゲームに参加中！
  script#main(src="/javascripts/index/bundle.js", data-displayName=`${displayName}`, data-thumbUrl=`${thumbUrl}`, data-ipAddress=`${ipAddress}`)
