extends layout
                                
block content
  section.game
    .controller.left
    .main
      canvas#score
      canvas#field
    .controller.right
  section.information
    .container
      h1 #{displayName} でゲームに参加中！
      .ui-block
        a.ui-component(href="/") このゲームから抜ける
  script#main(src="/javascripts/index/bundle.js", data-displayName=`${displayName}`, data-thumbUrl=`${thumbUrl}`, data-ipAddress=`${ipAddress}`)
