extends layout
                                
block content
  section.game
    .field
      canvas#field
    .score
      canvas#score
    .controller
      .holder
        .direction
          .holder
            .left
              button#btn-left
                i.fas.fa-chevron-left
            .upanddown
              button#btn-up
                i.fas.fa-chevron-up
              button#btn-down
                i.fas.fa-chevron-down
            .right
              button#btn-right
                i.fas.fa-chevron-right
        .reset
          a.ui-component(href="/game") Reset
        .button
          button#btn-fire
            i.fas.fa-caret-up
  section.information
    .container
  script#main(src="/javascripts/index/bundle.js", data-displayName=`${displayName}`, data-thumbUrl=`${thumbUrl}`, data-ipAddress=`${ipAddress}`)
