extends layout
                                
block content
  section.key-visual
    .title-box
      h1 #{title}
    .control-panel
      if user
        .start
          h3 スタート
          .ui-block
            a.ui-component.btn-start(href='game')
              img(src=`${user.photos[0].value}`)
              | #{user.displayName} でゲームに参加！
          .middle-head-component
            span OR
          .ui-block
            a.ui-component.logout(href='logout') ログアウト
      else
        .login
          h3 ログイン
          .ui-block
            a.ui-component.twitter-login(href='login/twitter') Twitterでログイン
          .middle-head-component
            span OR
          .ui-block
            a.ui-component.btn-start(href='game') 匿名でゲームに参加！
  section.about.this-game
    .container
      h1 このゲームについて
      .body
        p このゲームは「ゲームつくるセンター葉山」の会員がつくったゲームです。また、会員が自由に要素を追加したり、変更が出来るようになっています。そのためゲームシステムやデザインは随時変更されます。
  section.about.gtch
    .container
      h1 ゲームつくるセンター葉山とは
      .body
        p ゲームつくるセンター葉山は、「葉山ファクトリー」にある「HAYAMAリアル秘密基地」のプロジェクトです。
        a.ui-component(href="https://peraichi.com/landing_pages/view/aio7b" target="_blank") 詳しくはこちら
  footer
    .container.clearfix
      .copyright.fl-left
        a(href="https://peraichi.com/landing_pages/view/aio7b", target="_blank")
          i(class='fas fa-copyright') ゲームつくるセンター葉山
